In [3]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import StratifiedKFold
import pylab as pl
from matplotlib import collections  as mc
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 5.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

# for auto-reloading extenrnal modules
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
df_data_1 = pd.read_csv("../common/albertom/train_test_split/X_train_pca.csv", index_col="Unnamed: 0")
df_data_1 = df_data_1.head(500)
print(df_data_1.shape)
df_data_1.head()

(500, 15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,29.479667,5.668109,-0.209441,-1.345416,-2.547592,-0.433499,-0.295371,-1.271754,-1.085988,-1.853838,-0.164937,0.076312,-0.171492,-0.263783,0.252847
1,-8.119109,-0.918377,3.104810,-0.575573,-2.197244,-0.918233,-3.359054,1.598714,-1.490960,0.341960,1.479484,0.113073,-0.044522,-1.130600,0.348822
2,-12.897545,8.760454,2.352287,-0.329169,0.227234,-0.455962,-3.328908,0.392441,2.903130,-1.738855,0.510226,-1.106183,0.176989,0.568311,-1.206581
3,3.210958,-1.071009,1.016989,-0.326063,-0.583567,-0.108464,-0.159468,-0.904758,1.466309,0.394477,0.082506,-0.034437,-0.178567,-1.071022,-0.518596
4,21.015684,-0.687015,-0.105652,-1.678955,2.238427,-2.418710,-3.161304,-0.056711,1.178904,2.322390,2.085181,2.039292,-1.051170,0.075745,-0.014479

In [5]:
df_target_data_1 = pd.read_csv("../common/albertom/train_test_split/y_train.csv", index_col="Unnamed: 0")
df_target_data_1 = df_target_data_1.head(500)
print(df_target_data_1.shape)
df_target_data_1.head()

(500, 1)

   0
0  0
1  0
2  0
3  0
4  1

In [6]:
df_data_2 = pd.read_csv("../common/albertom/train_test_split/X_test_pca.csv", index_col="Unnamed: 0")
df_data_2 = df_data_2.head(100)
print(df_data_2.shape)
df_data_2.head()

(100, 15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-1.718190,-6.316477,-2.083559,0.975329,-0.296123,1.974713,0.379124,-0.007346,1.958610,-1.165546,0.759265,-0.382954,-0.584091,1.553050,0.568387
1,0.020365,-0.602705,9.139554,0.840974,0.546386,-5.230693,-0.084946,-10.231455,-0.852961,0.451182,0.669967,-0.829125,1.024195,0.229764,0.039181
2,9.975737,-3.348945,-0.572407,0.087099,0.788437,0.297061,0.889188,0.581228,-0.122152,-0.471265,0.488114,-0.081484,-0.171995,-0.577769,-0.305695
3,-22.105474,0.258111,0.720882,-3.436382,-1.524025,0.087214,-0.444141,0.608868,1.049485,0.409754,-0.329480,-0.048179,-0.009105,-0.527225,1.436268
4,-14.011642,2.771666,-3.670775,-0.453639,-0.303950,-1.095188,-2.580395,-1.656323,-1.115220,0.806742,-0.176124,0.275888,-0.784062,1.083730,-1.022630

In [7]:
df_target_data_2 = pd.read_csv("../common/albertom/train_test_split/y_test.csv", index_col="Unnamed: 0")
df_target_data_2 = df_target_data_2.head(100)
print(df_target_data_2.shape)
df_target_data_2.head()

(100, 1)

   0
0  1
1  1
2  0
3  1
4  0